*{
    padding: 0%;
    margin: 0%;
}
body{
    height: 100vh;
    background-color: #272c34;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    aspect-ratio: 1/1;
    width: 40vw;
    border-radius: 50%;
    background-color: #75cfeb;

    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: desaparecer 6.5s linear infinite;

}
@keyframes desaparecer{
    0%{
        opacity: 0;
        background-color: #75cfeb;
    }
    10%{
        opacity: 1;
        background-color: #75cfeb;
    }
    90%{
        opacity: 1;
        background-color: #75cfeb;
    }
    100%{
        opacity: 0;
        background-color: #394475;
    }
} 
.suelo{
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: #dece6f;
    top: 64.9%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sombra{
    height: 100%;
    width: 150%;
    background-color: rgba(0, 0, 0, 0.25);

    /* forma de la sombra */
    clip-path: polygon(15% 0, 100% 20%, 85% 0);
    animation: sombra 6.5s linear infinite;
}
@keyframes sombra{
    0%{
        clip-path: polygon(15% 0, 100% 20%, 85% 0);
    }
    30%{
        clip-path: polygon(15% 0, 100% 40%, 85% 0);
    }
    70%{
        clip-path: polygon(15% 0, 100% 40%, 85% 0);
    }
    100%{
        clip-path: polygon(15% 0, 0% 50%, 84% 0);
    }
}

.piramide{
    position: absolute;
    height: 30%;
    width: 70%;
    display: flex;
}
.ladoA{
    height: 100%;
    width: 70%;
    background-color: #f0f0f0;
    clip-path: polygon(80% 0, 0% 100%, 100% 100%);
    position: absolute;
    z-index: 1;
    animation: cambioA 6.5s linear infinite;
}
@keyframes cambioA{
    0%{
        background-color: #c3c1c3;
    }
    30%{
        background-color: #dadada;
    }
    70%{
        background-color: #dadada;
    }
    100%{
        background-color: #919191;
    }
}
.ladoB{
    height: 100%;
    width: 70%;
    background-color: #c3c1c3;
    clip-path: polygon(36% 0, 0% 100%, 100% 100%);
    position: absolute;
    z-index: ;
    /* Con esto lo muevo */
    left: 30%;
    animation: cambioB 6.5s linear infinite;
}
@keyframes cambioB{
    0%{
        background-color: #919191;
    }
    30%{
        background-color: #c3c1c3;
    }
    70%{
        background-color: #c3c1c3;
    }
    100%{
        background-color: #e0e0e0;
    }
}

.solFondo{
    position: absolute;
    height: 170%;
    width: 170%;
    top: 40%;
    transform: rotate(0deg);
    animation: girar 6.5s linear infinite
}
/* se anima el fondo */
@keyframes girar{
    0%{
        transform:rotateZ(0deg)
    }
    30%{
        transform:rotateZ(30deg)
    }
    70%{
        transform:rotateZ(30deg)
    }
    100%{
        transform:rotateZ(90deg);
    }
}

.sol{
    position: absolute;
    height: 13%;
    width: 13%;
    border-radius: 50%;
    background-color: #fee401;
}